


<%- include("../partials/header") %>


<div id="columns">
    <!-- <% for (const artist of artists) { %>
        <div class="artistColumn">           
            <div class="artistInfo">
                <p class="artistName"><%= artist.name %></p>
                <img src= "<%= artist.image %>" width="300" height="300" class="artistImage" alt="<%= artist.name %>">
            </div>
        
        
        </div>
    <% } %>    -->
</div> 
 
            

       
        
<script>
    var words = '<%- JSON.stringify(artists)%>';
</script>
<script type="text/javascript" src="/wordCloud.js"></script>

<script type="text/javascript" src="/comparisonCharts.js"></script>       
        



<%- include("../partials/footer") %>














 






