<%- include("../partials/header") %>

   

<div id="rows"></div>

    <!-- <div class="rows" id="rows">
        <div class="col">           
            <div class="artistInfo">
                <p class="artistName"><%= artist.name %></p>
                <img src= "<%= artist.image %>" width="300" height="300" class="artistImage" alt="<%= artist.name %>">
            </div>
        </div>   
    </div> 
         -->
        
        
        




    <!-- </div> -->
    <script>
        var words = '<%- JSON.stringify(artist)%>';
    </script>
    <script type="text/javascript" src="/wordCloud.js"></script>

    <script type="text/javascript" src="/charts.js"></script>


<%- include("../partials/footer") %>
